body {
    background-color: #FFFFFF;
    color: #000000;
}

#font {
    font-weight: bold;
}

.tooltip {
      position: fixed;
      padding: 10px 20px;
      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: center;
      font: italic 14px/1.3 arial, sans-serif;
      color: #333;
      background: #fff;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    }

.slidecontainer {
    display: block;
/*    flex-direction: column;
    align-items: center;*/
    font-weight: bold;
    font: bold 16px/1.3 arial, sans-serif;
}

.schemecontainer{
    display: inline-table;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    margin-top: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 9px;
    height: 18px;
    border-radius: 40%;
    background: #aaa;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.field {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 70px;
}
